<a href="https://colab.research.google.com/github/dangetiprasad/Data-Analysing-with-Python/blob/master/date_differnce.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
#importing all libraries
import pandas as pd
import numpy as np
import re

In [17]:
#sample dataset for testing purpose
a=pd.DataFrame({'sam_dates':['12 june,2010','22/3/2011','may 5,2012','28/3/2011','22-3-2014'],'col1':[11,22,33,54,32]})
a

      sam_dates  col1
0  12 june,2010    11
1     22/3/2011    22
2    may 5,2012    33
3     28/3/2011    54
4     22-3-2014    32

## User defined function to check for date presented columns and make a new column to return their difference between these dates

In [19]:
def detect_dates(data):
  a1=data.columns
  for i in a1:
    for x in data[i].values:
      if re.findall(r'\W\d\w',str(x)):
        data[i]=pd.to_datetime(data[i])
        if np.dtype(data[i]) == np.dtype('<M8[ns]'):
          data['difference']=data[i].diff().fillna(pd.Timedelta(seconds=0))
  return data
  #we are applying sample dataset a here
detect_dates(a)

   sam_dates  col1 difference
0 2010-06-12    11     0 days
1 2011-03-22    22   283 days
2 2012-05-05    33   410 days
3 2011-03-28    54  -404 days
4 2014-03-22    32  1090 days